<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="no.talgoe.scanwedge.scanwedge">
  <uses-permission android:name="com.honeywell.decode.permission.DECODE" />
  <application>
    <!--receiver
      android:name="${applicationName}"
      android:enabled="true"
      android:exported="false">
        <intent-filter>
            <action android:name="com.symbol.datawedge.api.ACTION" />
            <action android:name="com.honeywell.aidc.action.ACTION_CLAIM_SCANNER" />
            <action android:name="no.mobcon.scanwedge.SCAN" />
        </intent-filter>
    </receiver-->
  </application>
</manifest>
